[".local/bin/lf"]
  type = "archive-file"
  url = "{{- gitHubLatestReleaseAssetURL "gokcehan/lf" (printf "lf-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) -}}"
  path = "lf"
  refreshPeriod = "168h"

{{- $arch := "" -}}
{{- if eq .chezmoi.arch "amd64" -}}
  {{- $arch = "x86_64" -}}
{{- else -}}
  {{- $arch = .chezmoi.arch -}}
{{- end }}

[".local/bin/pistol"]
  type = "file"
  url = "{{- gitHubLatestReleaseAssetURL "doronbehar/pistol" (printf "pistol-static-linux-%s" $arch) -}}"
  refreshPeriod = "168h"
  executable = true
