{{- $os := "" -}}
{{- if eq .chezmoi.os "linux" -}}
  {{- $os = "linux" -}}
{{- else if eq .chezmoi.os "darwin" -}}
  {{- $os = "macos" -}}
{{- end -}}

{{- $arch := "" -}}
{{- if eq .chezmoi.arch "amd64" -}}
  {{- $arch = "x64" -}}
{{- else -}}
  {{- $arch = .chezmoi.arch -}}
{{- end -}}

.local/bin/rtx:
  type: file
  url: "https://rtx.pub/rtx-latest-{{- $os -}}-{{- $arch -}}"
  executable: true
  refreshPeriod: 168h
