[Install]
WantedBy=plasma-workspace.target

[Unit]
Description=i3 for KDE plasma
Before=plasma-workspace.target

[Service]
ExecStart=/usr/bin/i3
Slice=session.slice
Restart=on-failure
