{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $install_packages := promptBoolOnce . "install_packages" "Install dependencies?"}}
{{- $use_chruby := promptBoolOnce . "use_chruby" "Use chruby?"}}

[data]
	email = {{ $email | quote }}
	install_packages = {{ $install_packages }}
	use_chruby = {{ $use_chruby }}
