#!/bin/sh

{{ if not .install_packages }}
exit 0
{{ end }}

{{ $install := "" -}}
{{ if eq .chezmoi.os "linux" -}}
	{{ $install = "sudo apt install -y" -}}
{{ else if eq .chezmoi.os "darwin" -}}
	{{ $install = "brew install" }}
{{ end -}}

if ! command -v rg &> /dev/null; then
	{{ $install }} ripgrep
fi
