themes {
  google {
    bg "#1d1f21"
    fg "#c5c8c6"
    red "#cc342b"
    green "#198844"
    blue "#3971ed"
    yellow "#fba922"
    magenta "#a36ac7" // Pink
    orange "#cc682b" // Peach
    cyan "#398bed" // Sky
    black "#1d1f21" // Mantle
    white "#ffffff"

  }
}
