// Zellij theme based on the Lorem Gypsum light nvim palette
// Copy to ~/.config/zellij/themes/lorem-gypsum-light.kdl and set
// `theme "lorem-gypsum-light"` (or theme_light) in ~/.config/zellij/config.kdl

themes {
    lorem-gypsum-light {
        text_unselected {
            base 16 16 16
            background 250 250 250
            emphasis_0 0 0 0
            emphasis_1 176 119 0
            emphasis_2 64 127 0
            emphasis_3 202 0 67
        }

        text_selected {
            base 16 16 16
            background 173 214 255
            emphasis_0 0 0 0
            emphasis_1 176 119 0
            emphasis_2 64 127 0
            emphasis_3 202 0 67
        }

        ribbon_unselected {
            base 112 112 112
            background 224 224 224
            emphasis_0 16 16 16
            emphasis_1 218 218 218
            emphasis_2 176 119 0
            emphasis_3 202 0 67
        }

        ribbon_selected {
            base 235 235 235
            background 0 95 184
            emphasis_0 0 0 0
            emphasis_1 176 119 0
            emphasis_2 64 127 0
            emphasis_3 202 0 67
        }

        table_title {
            base 0 0 0
            background 250 250 250
            emphasis_0 0 0 0
            emphasis_1 176 119 0
            emphasis_2 64 127 0
            emphasis_3 202 0 67
        }

        table_cell_unselected {
            base 16 16 16
            background 250 250 250
            emphasis_0 0 0 0
            emphasis_1 112 112 112
            emphasis_2 176 119 0
            emphasis_3 202 0 67
        }

        table_cell_selected {
            base 16 16 16
            background 173 214 255
            emphasis_0 0 0 0
            emphasis_1 176 119 0
            emphasis_2 64 127 0
            emphasis_3 202 0 67
        }

        list_unselected {
            base 16 16 16
            background 250 250 250
            emphasis_0 0 0 0
            emphasis_1 176 119 0
            emphasis_2 64 127 0
            emphasis_3 202 0 67
        }

        list_selected {
            base 16 16 16
            background 173 214 255
            emphasis_0 0 0 0
            emphasis_1 176 119 0
            emphasis_2 64 127 0
            emphasis_3 202 0 67
        }

        frame_unselected {
            base 192 192 192
            background 220 221 225
            emphasis_0 192 192 192
            emphasis_1 0 0 0
            emphasis_2 176 119 0
            emphasis_3 202 0 67
        }

        frame_selected {
            base 0 0 0
            background 250 250 250
            emphasis_0 0 0 0
            emphasis_1 2 83 190
            emphasis_2 176 119 0
            emphasis_3 202 0 67
        }

        frame_highlight {
            base 176 119 0
            background 250 250 250
            emphasis_0 176 119 0
            emphasis_1 0 0 0
            emphasis_2 2 83 190
            emphasis_3 202 0 67
        }

        exit_code_success {
            base 64 127 0
            background 250 250 250
            emphasis_0 64 127 0
            emphasis_1 0 0 0
            emphasis_2 176 119 0
            emphasis_3 202 0 67
        }

        exit_code_error {
            base 202 0 67
            background 250 250 250
            emphasis_0 202 0 67
            emphasis_1 0 0 0
            emphasis_2 176 119 0
            emphasis_3 64 127 0
        }

        multiplayer_user_colors {
            player_1 176 119 0
            player_2 0 125 125
            player_3 162 0 209
            player_4 64 127 0
            player_5 2 83 190
            player_6 202 0 67
            player_7 112 21 22
            player_8 1 152 51
            player_9 245 77 39
            player_10 112 112 112
        }
    }
}
